/* Global Rules */

:root {
    --main-color: #2196F3;
    --main-color-var: #2c78b6;
}
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Cairo', sans-serif;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}
.container .boxs {
    display: flex;
    flex-wrap: wrap;
    gap: 40px  20px;
    justify-content: space-evenly;
    padding: 50px 0;
}
.container .lable {
    font-weight: bold;
    font-size: 35px;
    padding: 10px 30px;
    border: 2px solid black;
    width: fit-content;
    transition: 0.1s ease-in-out;
    transition-delay: 0.4s;
}
.container .dots {
    width: fit-content;
    align-self: center;
    position: relative;
    margin-bottom: 50px;
    margin-top: 40px;
}
.container .dots::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    left: -30px;
    top: calc(50% - 12px);
    transition: 0.5s ease;
    z-index: -1;
}
.container .dots::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    right:  -30px;
    top: calc(50% - 12px);
    transition: 0.5s ease;
    z-index: -1;
}
.container .dots:hover {
    color: white;
}
.container .dots:hover::before {
    left: 0 ;
    top: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
}
.container .dots:hover::after {
    right: 0 ;
    top: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
}
.container .lable:hover  {
    background-color: var(--main-color) ;
    color: white;
    border-color: var(--main-color);
}
@media (max-width:400px) {
    .container {
        width:95%;
        padding-left:0 ;
        padding-right:0 ;
    }
    .container .lable {
        font-weight: bold;
        font-size: 25px;
        padding: 10px 30px;
        border: 2px solid black;
        width: fit-content;
        transition: 0.3s ease-in-out;
        transition-delay: 0.4s;
    }    
}
@media (min-width:400px) and (max-width:675px){
    .container{
        width: 95%;
        padding-left:0 ;
        padding-right:0 ;
    }
}
@media (min-width:675px) and (max-width:992px) {
    .container{
        width: 75% ;
    }
}
@media (min-width:992px) and (max-width:1200px) {
    .container{
        width: 75% ;
    }
}
@media (min-width:1200px)  {
    .container{
        width: 70% ;
    }
}

/* Global Rules */


/* Header */
.header {
    position: relative;
    width: 100%;
    z-index: 5;
    box-shadow: 0px 0px 12px 0px #00000030;
}
.header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.header .logo {
    font-weight: bold;
    color: var(--main-color);
    font-size: 25px;
    align-self: center;
}
.header .container .mainul {
    display: flex;
    margin: 0;
}
.header .container .mainul li {
    position: relative;
    padding: 30px 25px;
}
.header .container .mainul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
}
.header .container .mainul li:hover::before  {
    width: 100%;
}
.header .container ul li a {
    color: rgb(0, 0, 0);
}
.header .container .mainul .special {
    position: static;
    display: block;
}
.megamenu {
    display: flex;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: white;
    border-bottom: var(--main-color) 3px solid;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-around;
    transition: 0.3s ease-in-out;
    z-index: 10;
    top: 78px;
}
.header .container .mainul .special:hover .megamenu  {
    opacity: 1;
    visibility: visible;
    top: 78px  ;
}
.megamenu img {
    min-width: 200px;
    box-sizing: border-box;
    padding: 50px 0;
    max-width: 400px;
    max-height: 300px;
}
.megamenu .links {
    align-self: center;
}
.megamenu .links li {
    padding: 15px 15px !important;
}
.megamenu .links li::before {
    content: "";
    display: none;
}
.megamenu .links li a {
    color: var(--main-color) !important ;
    font-weight: bold;
}
.megamenu .links li a i {
    padding: 0 25px;
    font-size: large;
}
.megamenu .links li a .testmon {
    padding: 0 20px;
}
@media (max-width:400px) {
    .header .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .header .logo {
        font-size: 30px;
        padding-top: 20px;
    }
    .header .container .mainul li {
        padding: 15px 10px;
        margin: 10px 0;
    }
    .header .container .mainul .special:hover .megamenu {
        top: 120px;
    }
    .header .container .megamenu {
        justify-content: space-around;
        flex-direction: column;
        padding: 15px 0 ;
        width: 100%;
        top: 110px;
    }
    .header .container .megamenu img {
        display: none;
    }
    .header .container .mainul:hover .megamenu  {
        top: 99px !important ;
    }
    .header .container .megamenu .links {
        align-self: flex-start;
        margin: 0;
    }    
    .header .container .megamenu .links li {
        padding: 15px 10px ;
    }
}
@media (min-width:400px) and (max-width:992px) {
    .header .container {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .header .logo {
        font-size: 30px;
        padding-top: 20px;
    }
    .header .container .mainul li {
        padding: 15px 20px;
        margin: 10px 0;
    }
    .header .container .mainul .special:hover  .megamenu {
        top: 110px;
        width: 90%;
    }
    .header .container .megamenu {
        justify-content: space-around;
        top: 110px;
    }
    .header .container .megamenu img {
        display: none;
    }
    .header .container .mainul:hover + .megamenu  {
        top: 99px !important ;
    }    
    .header .container .megamenu .links li {
        padding: 15px 10px ;
    }
}

/* Landing */
.landing {
    position: relative;
    height: calc(100vh - 79.5px);
    overflow: hidden;
}
.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -60px;
    bottom: 0;
    background-color:#ECECEC;
    transform-origin: top left;
    transform: skewY(-6deg);
}
.landing .container {
    width: 70%;
    display: flex;
    position: relative;
    height: 100%;
    top: 47%;
    transform: translateY(-50%);
    padding-bottom: 4%;
    flex-direction: row;
}
.landing .container img {
    max-width: 600px;
    position: relative;
    top: 10px;
    max-height: 400px ;
    align-self: center;
    animation: up-down 5s linear infinite ;
}
.landing .container .txt {
    align-self: center;
    position: relative;
    font-size: 25px;
    padding: 10px;
}
.landing .container .txt h3 {
    font-weight: 800;
    font-size: 40px;
}
.landing i {
    position: absolute;
    color: var(--main-color);
    font-size: 25px;
    left: 50% ;
    bottom: 60px;
    transform:  translateX(-50%);
    animation: font 1.5s ease-in-out  infinite  ;
}
@media (max-width:400px) {
    .landing {
        height: calc(100vh - 122px);
    }
    .landing .container {
        width: 100%;
        text-align: center;
    }
    .landing .container img {
        display: none;
    }
    .landing i {
        bottom:80px;
    }
}
@media (min-width:400px) and (max-width:1200px) {
    .landing {
        height: calc(100vh - 122px);
    }
    .landing .container {
        width: 80%;
        text-align: center;
    }
    .landing .container img {
        display: none;
    }
}
@keyframes up-down {
    0% {
        top: 0px;
    }
    50% {
        top: 50px;
    }
    100% {
        top: 0px;
    }
}
@keyframes font {
    0% {
        bottom: 60px;
    }
    12.5% {
        bottom: 70px;
    }
    25% {
        bottom: 60px;
    }
    37.5% {
        bottom: 70px ;
    }
    50% {
        bottom: 60px;
    }
} 


/* Articles */

.article {
    position: relative;
    height: fit-content;
}
.article .container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.article .container .boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    margin-top: 40px;
}
.article .container .boxs .box {
    width: 25%;
    border-radius: 7px;
    background-color: white;
    position: relative;
    transition: 0.3s ease-in-out;
    top: 0;
    flex-basis: calc( 25% - 40px );
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
}
.article .container .boxs .box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
    top: -10px;
}
.article .container .boxs .box img {
    width: 100%;
    border-start-start-radius: 7px;
    border-start-end-radius: 7px;
}
.article .container .boxs .box .txt {
    box-sizing: border-box;
    padding: 15px;
}
.article .container .txt p {
    color: rgba(0, 0, 0, 0.644);
    font-size: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}
.article .container .boxs .box .txt .footer {
    width: 100%;
    background-color: transparent;
}
.article .container .boxs .box .txt .footer a {
    color: var(--main-color);
    font-weight: bold;
}
.article .container .boxs .box .txt .footer i {
    position: relative;
    margin-left: calc( 100% - 100px );
    color: var(--main-color);
    font-size: small;
}
.article .container .boxs .box .txt:hover  i {
    animation: I 0.6s ease infinite  ;
}
@keyframes I {
    0%{
        margin-left: calc( 100% - 100px );
    }
    50% {
        margin-left: calc( 100% - 95px );
    }
    100% {
        margin-left: calc( 100% - 100px ) ;
    }
}
@media (max-width:400px) {
    .article .container .boxs .box {
        flex-basis: calc(100% - 40px);
    }
}
@media (min-width:400px) and (max-width:675px){
    .article .container .boxs .box {
        flex-basis: calc(100% - 120px);
    }
}
@media (min-width:675px) and (max-width:992px) {
    .article .container .boxs .box {
        flex-basis: calc(50% - 40px);
    }
}


/* Gallery */


.gallery {
    position: relative;
}
.gallery::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#ECECEC;
    position: absolute;
    z-index: -2;
}
.gallery .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px ;
}
.gallery .container .boxs {
    position: relative;
    height: 100%;
    display: flex;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
    padding-top: 50px;
}
.gallery .container .boxs .box {
    position: relative;
    border: 15px solid rgb(255, 255, 255) ;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.336);
    flex-basis: 26%;
}
.gallery .container .box .img::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.226);
    transition: 0.2s ease;
    z-index: 2;
}
.gallery .container .box img {
    width: 100%;
    transition: 0.3s ease-in-out;
}
.gallery .container .boxs .box .img:hover img {
    transform: rotate(5deg) scale(1.1);
}
.gallery .container .box .img:hover:before {
    animation: flashing 0.3s  ;
}

@keyframes flashing {
    0% {
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
    }
    99% {
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
    }
    100% {
        display: none;
    }
}
@media (max-width:400px) {
    .gallery .container .boxs .box {
        flex-basis: 95%;
        margin:0 20px;
        box-sizing: border-box;
    }
}
@media (min-width:400px) and (max-width:675px){
    .gallery .container .boxs .box {
        flex-basis: 95%;
        margin:0 60px;
        box-sizing: border-box;
    }
}
@media (min-width:675px) and (max-width:992px) {
    .gallery .container .boxs .box {
        flex-basis: 45%;
        box-sizing: border-box;
    }
}
@media (min-width:992px) and (max-width:1066px) {
    .gallery .container .boxs .box {
        flex-basis: 46%;
        box-sizing: border-box;
    }
}


/* Features */


.features {
    position: relative;
}
.features .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

}
.features .container .boxs {
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 0;
}
.features .container .boxs .box {
    position: relative;
    flex-basis: 30%;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.336);
    border-radius: 5px;
    overflow: hidden;
}
.features .container .boxs .box img {
    position: relative;
    max-width: calc(100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: -2;
}

.features .container .boxs .img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; 
}
.features .container .boxs .one .img::before{
    background-color: rgba(192, 0, 0, 0.404);
}
.features .container .boxs .two .img::before{
    background-color: rgba(0, 218, 196, 0.356);
}
.features .container .boxs .three .img::before{
    background-color: rgba(0, 88, 129, 0.486);
}
/* .features .container .boxs .img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: white;
    z-index: -1;
    clip-path: polygon(102% 25%, -20% 50%, 100% 75%);
    transition: 0.5s ease;
}
.features .container .box .img:hover::after {
    clip-path: polygon(102% 25%, -00% 50%, 100% 55%);
} */
.features .container .boxs .box .txt {
    background-color: white;
    padding: 15px 0;
    padding-bottom: 40px;
}
.features .container .boxs .box h1 {
    position: relative;
    margin: 30px auto;
    font-size: 37px;
    width: fit-content;
    display: block;
    padding: 10px;
    border-bottom: 5px solid ;
    margin-top: 0;
}
.features .container .boxs .box p {
    color: rgb(155, 155, 155);
    padding: 15px 15px;
    font-size: 20px;
    line-height: 1.8;
}
.features .container .box .a {
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}
.features .container .box a {
    font-weight: bold;
    margin: auto;
    padding: 10px 20px;
    border: 2px solid;
    display: block;
    width: fit-content;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.5s ease;
    transition-delay: 0.25s;
}
.features .container .box a::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 00%;
    left: 0;
    top: 0;
    border-radius: 5px;
    z-index: 2;
}
.features .container .box .one a::before {
    background-color: #bd042f;
}
.features .container .box .two a::before {
    background-color: #009687;
}
.features .container .box .three a::before {
    background-color: #03A9F4;
}
.features .container .boxs .one .txt h1 {
    border-image: linear-gradient(to right
                                ,#ffffff 33%
                                ,#a90329 33%
                                ,#a90329 67%
                                ,#ffffff 67%) 25;
}
.features .container .boxs .one .txt a {
    color: #a90329;
}
.features .container .boxs .two .txt h1 {
    border-image: linear-gradient(to right
    ,rgb(255, 255, 255) 33%
    ,#009688 33%
    ,#009688 67%
    ,rgba(255,255,255,1) 67%) 25;
}
.features .container .boxs .two .txt a {
    color: #009688;
}
.features .container .boxs .three .txt h1 {
    border-image: linear-gradient(to right
    ,rgb(255, 255, 255) 33%
    ,#03A9F4 33%
    ,#03A9F4 67%
    ,rgba(255,255,255,1) 67%) 25;
}
.features .container .boxs .three .txt a {
    color: #03A9F4;
}
.features .container .box a:hover::before {
    animation: a-move 0.5s ease ;
}
.features .container .box .one a:hover {
    color: white;
    background-color: #a90329;
}
.features .container .box .two a:hover {
    color: white;
    background-color: #009688;
}
.features .container .box .three a:hover {
    color: white;
    background-color: #03A9F4;
}

@media (max-width:400px) {
    .features .container .boxs .box {
        flex-basis: 90%;
    }
}
@media (min-width:400px) and (max-width:675px) {
    .features .container .boxs .box {
        flex-basis: 70%;
    }
}
@media (min-width:675px) and (max-width:992px) {
    .features .container .boxs .box {
        flex-basis: 46%;
    }
}
@media (min-width:992px) and (max-width:1066px) {
    .features .container .boxs .box {
        flex-basis: 46%;
    }
}
@keyframes a-move {
    0%{
        width: 0;
    }
    100% {
        width: 100%;
    }
}


/* Testmonials */

.testmonial {
    position: relative;
}
.testmonial::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#ECECEC;
    position: absolute;
    z-index: -2;
}
.testmonial .container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}
.testmonial .container .dots {
    margin: 70px 0;
}
.testmonial .container .boxs {
    display: flex;
    justify-content: space-evenly;
    row-gap: 40px;
    column-gap: 20px;
    flex-wrap: wrap;
    position: relative;
    padding: 50px 0;
    padding-bottom: 100px;
}
.testmonial .container .boxs .box {
    position: relative;
    flex-basis: 26%;
    background-color: white;
    box-shadow: 0 0 15px rgba(112, 112, 112, 0.164);
    padding: 20px;
    border-radius: 10px;
}
.testmonial .container .boxs .box img {
    position: absolute;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    border: 10px solid #ECECEC ;
    left: calc(100% - 97px) ;
    bottom:  calc(100% - 50px) ;
}
.testmonial .container .boxs h2 {
    font-weight: bold;
    font-size: 21px;
    margin: 10px 0;
}
.testmonial .container .boxs h4 {
    font-weight: normal;
    margin: 10px 0;
    color: rgba(0, 0, 0, 0.726);
}
.testmonial .container .boxs p {
    color: rgba(0, 0, 0, 0.726);
    margin-top: 20px;
}
.testmonial .container .boxs .fa-solid {
    color: #FFC107;
}
@media (min-width:675px) and (max-width:1200px) {
    .testmonial .container .boxs .box {
        flex-basis: 40%;
    }
}
@media (min-width:400px) and (max-width:675px) {
    .testmonial .container .boxs .box {
        flex-basis: 60%;
    }
}
@media (max-width:400px) {
    .testmonial .container .boxs .box {
        flex-basis: 80%;
    }
    .testmonial .container .boxs h2 {
        font-size: 18px;
    }
}


/* Team Members  */

.team {
    position: relative;
}
.team .container {
    position: relative;
    display: flex;
    flex-direction: column;
}
.team .container .dots {
    margin: 60px 0;
}
.team .container .boxs {
    display: flex;
    flex-wrap: wrap;
    gap: 40px  20px;
    justify-content: space-evenly;
    padding: 50px 0;
    padding-bottom: 100px;
}
.team .container .boxs .box {
    position: relative;
    flex-basis: 26%;
}
.team .container .boxs .box::before {
    position: absolute;
    content: "";
    width: 80%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgb(240, 240, 240);
    z-index: -2;
    transition: 0.3s ease;
    border-radius: 10px;
}
.team .container .boxs .box::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgb(212, 212, 212);
    z-index: -1;
    transition: 0.3s ease;
    border-radius: 10px;
}
.team .container .boxs .box .data {
    display: flex;
    position: relative;
    padding-top: 50px;
    justify-content: center;
}
.team .container .box .data img {
    position: relative;
    border-radius: 10px;
    transition: 0.3s ease;
}
.team .container .box:hover::after {
    width: 80%;
} 
.team .container .box:hover img {
    filter: grayscale(100%);
} 
.team .container .box:hover .info h2 {
    color: #777;
}
.team .container .box .data .social {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.team .container .box .data .social a {
    padding: 10px 15px;
    color: #777;
    transition: 0.3s ease;
}
.team .container .box .data .social a:hover {
    padding: 10px 15px;
    color: var(--main-color);
}
.team .container .box .info {
    margin-left: 25%;
    padding-bottom: 10px;
}
.team .container .box .info h2 {
    color: var(--main-color);
}
@media (max-width:400px) {
    .team .container .boxs .box .data img {
        max-width: 250px ;
    }

}
@media (min-width:400px) and (max-width:675px) {
    .team .container .boxs .box {
        flex-basis: 80%;
    }
    .team .container .boxs .box .data img {
        max-width: 320px ;
    }
}
@media (min-width:675px) and (max-width:992px) {
    .team .container {
        width: 100% ;
        padding-left: 0;
        padding-right: 0;
    }
    .team .container .boxs .box {
        flex-basis: 40%;
    }
    .team .container .boxs .box .data img {
        max-width: 320px ;
    }
}
@media (min-width:992px) and (max-width:1200px) {
    .team .container {
        width: 80% ;
    }
    .team .container .boxs .box {
        flex-basis: 40%;
    }
    .team .container .boxs .box .data img {
        max-width: 335px ;
    }
}
@media (min-width:1200px) {
    .team .container .boxs .box .data img {
        max-width: 300px ;
    }
}


/* Services */

.services {
    position: relative;
}
.services::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#ECECEC;
    position: absolute;
    z-index: -2;
}
.services .container .boxs {
    padding-bottom: 100px;
}
.services .container .boxs .box{
    position: relative;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    top: 0;
    box-shadow:  0 0 10px rgba(180, 180, 180, 0.562);
    transition: 0.3s ease-in-out;
}
.services .container .boxs .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 000%;
    height: 4px;
    background-color: var(--main-color);
    transition: 0.4s ease-in-out;
}
.services .container .boxs .box:hover::before {
    width: 100%;
}
.services .container .boxs .box:hover {
    top: -15px;
    box-shadow:  0 0 10px rgba(143, 143, 143, 0.562);
}
.services .container .boxs .box i {
    font-size: 80px;
    color: #D5D5D5;
    padding-top: 30px;
}
.services .container .box h1 {
    color: var(--main-color );
}
.services .container .boxs .box .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
.services .container .box .footer .num {
    position: relative;
    color: white;
    background-color: var(--main-color);
    padding: 8px 20px;
    font-weight: bold;
    font-size: 30px;
}
.services .container .box .footer .num::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 99%;
    background-color: var(--main-color);
    top: 0;
    right: -10px;
    transform: skewX(-20deg);
}
.services .container .box .footer .num::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 100%;
    background-color:rgb(216, 216, 216);
    top: 0;
    right: -40px;
    transform: skewX(-20deg);
}
.services .container .boxs .box .footer a {
    color: var(--main-color);
    padding: 10px ;
}
@media (max-width:400px) {
    .services .container .boxs .box {
        width: 320px;
    }
}
@media (min-width:400px) and (max-width:675px) {
    .services .container .boxs .box {
        width: 400px;
    }
}
@media (min-width:675px) and (max-width:992px) {
    .services .container .boxs .box {
        flex-basis: 45%;
    }
}
@media (min-width:992px) and (max-width:1200px) {
    .services .container .boxs .box {
        flex-basis: 45%;
    }
}
@media (min-width:1200px) {
    .services .container .boxs .box {
        flex-basis: 30%;
    }
}


/* Start Skills  */

.skills {
    position: relative;
}
.skills .container .boxs {
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 100px;
}
.skills .container .boxs img {
    height: 100%;
    max-width: 100%;
    align-self: center;
}
.skills .container .boxs .progress  {
    display: flow;
    align-self: center;
    flex: 1;
}
.skills .container .boxs .progress .prog {
    padding: 5px 0;
}
.skills .container .boxs .progress .prog h3 {
    display: flex;
    justify-content: space-between;
}
.skills .container .boxs .progress .prog h3 span {
    color: var(--main-color);
    font-size: medium;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.205) ;
    border-radius: 5px;
}
.skills .container .boxs .progress .prog .theprog {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #dadada;
}
.skills .container .boxs .progress .prog .theprog span {
    background-color: var(--main-color);
    position: relative;
    display: block;
    height: 100%;
}
@media (max-width:400px) {
    .skills .container .boxs {
        width:80%;
        margin: 0 auto;
    }
}
@media (min-width:400px) and (max-width:675px) {
    .skills .container .boxs {
        width: 80%;
        margin: 0 auto;
    }
}
@media (max-width:992px) {
    .skills .container .boxs img {
        display: none;
    }    
}


/* Start How IT Works?  */

.how {
    position: relative;
}
.how::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#ECECEC;
    position: absolute;
    z-index: -2;
}
.how .boxs {
    display: flex;
    flex-wrap: wrap;
}
.how .boxs .img {
    max-width: 100%;
    height: 100%;
    align-self: center;
}
.how .steps {
    position: relative;
    flex-basis: 60%;
    flex: 1;
    width: 100%;
}
.how .container .steps .step {
    display: flex;
    position: relative;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    padding: 0px 20px;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    margin: 25px auto ;
}
.how .container .steps .step::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: #ececec;
    transition: 0.3s ease;
    border-radius: 10px;
}
.how .container .steps .step:hover::before {
    width: 100%;
    height: 100%;
}
.how .container .steps .step img {
    max-width: 60px;
    max-height: 60px;
    align-self: center;
    padding: 10px 20px;
    padding-left: 0;
    z-index: 1;
}
.how .container .steps .step .txt {
    line-height: 1.6;
    z-index: 1;
}
.how .container .steps .step .txt h2 {
    margin-bottom: 5px
}
.how .container .steps .step .txt p {
    margin-top: 0;
}
@media (max-width:675px) {
    .how .container .steps .step {
        flex-direction: column;
        text-align: center;
    }
    .how .container .steps .step img {
        padding-top: 15px;
    }
    .how .container .steps .step .txt h2 {
        margin-top: 0;
    }
}
@media (min-width:1090px) {
    .how .container .steps .step {
        margin-left: 50px;
    }
}


/* Start Events */

.events {
    position: relative;
}
.dotup{
    position: absolute;
    background-image: url(../imgs/dots.png);
    height: 186px;
    width: 204px;
    right: 0;
    top: 100px;
}
.dotdown{
    position: absolute;
    background-image: url(../imgs/dots.png);
    height: 186px;
    width: 204px;
    left: 0;
    bottom: 100px;
}
.events .container {
    padding-bottom: 100px;
}
.events .container .boxs img {
    max-width: 45%;
    align-self: center;
    z-index: 1;
}
.events .container .boxs .box {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.events .container .boxs  .box .timer {
    display: flex;
    justify-content: space-evenly;
}
.events .container .boxs .box .timer .time {
    margin: 20px 10px;
    border-radius: 5px;
    border: 1px solid rgb(168, 168, 168);
    background-color: white ;
}
.events .container .boxs .box .timer .time h5 {
    margin-bottom: 0;
    margin-top: 0;
    border-top: 1px solid rgb(168, 168, 168);
    padding: 5px 10px;
    font-weight: normal;
}
.events .container .boxs .box .timer .time .num {
    margin: 15px 5px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 25px;
}
.events .container .footer {
    margin: 0 auto ;
    background-color: transparent;
}
.events .container .footer form input[type=email] {
    position: relative;
    padding: 10px  ;
    width: 300px;
    border: none;
    outline: none;
    background-color: white;
    z-index: 1;
}
.events .container .footer form input[type=submit] {
    background-color: var(--main-color);
    color: white;
    padding: 15px 25px;
    border-radius: 25px;
    border: navajowhite;
}
@media (min-width:0px) and (max-width:400px) {
    .events .container .boxs img {
        max-width: 80%;
        align-self: center;
    }    
    .events .container .boxs .box {
        flex: 1;
    }    
    .events .container .footer form input[type=email] {
        width: 150px;
    }
    .dotup ,
    .dotdown {
        display: none;
    }
}
@media (min-width:400px) and (max-width:675px) {
    .events .container .boxs img {
        max-width: 60%;
        align-self: center;
    }    
    .events .container .footer form input[type=email] {
        width: 200px;
    }
    .dotup ,
    .dotdown {
        display: none;
    }
}


/* Start Pricing plans  */

.pricing {
    position: relative;
}
.pricing::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#ECECEC;
    position: absolute;
    z-index: -2;
}
.pricing .container .boxs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.pricing .container .boxs .box {
    position: relative;
    background-color: white;
    padding: 20px;
    box-shadow:  0 0 10px rgba(180, 180, 180, 0.562);
    border-radius: 5px;
    width: 300px;
}
.pricing .container .boxs .special::before {
    content: "Most Popular";
    padding: 10px 10px;
    position: absolute;
    width: 150px;
    font-weight: bold;
    color: white;
    font-size: 21px;
    background-color: var(--main-color);
    right:-30px ;
    top: 63px;
    transform: rotate(90deg);
}
.pricing .container .boxs .special::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 22px solid rgb(255, 255, 255);
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    right: 33px ;
    top: 127px;
}
.pricing .container .boxs .box h3 {
    text-align: center;
    font-size: 25px;
}
.pricing .container .boxs .box img {
    position: relative;
    max-width: 80px;
    left: 50%;
    transform: translateX(-50%);
}
.pricing .container .boxs .box h2 {
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 0;
    margin-top: 25px ;
    padding-bottom: 0;
    color: var(--main-color);
}
.pricing .container .box h6 {
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    margin-top:0 ;
    margin-bottom: 50px;
}
.pricing .container .box .pros {
    margin-bottom: 40px;
}
.pricing .container .box .pros p {
    border-top: 1px solid rgba(226, 226, 226, 0.76);
    padding: 25px 0;
    margin: 0;
}
.pricing .container .box i {
    color: var(--main-color);
    padding: 0 10px;
}
.pricing .container .box a {
    display: block;
    position: relative;
    width: fit-content;
    color: var(--main-color);
    background-color: white;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 15px 20px;
    margin: 0 auto;
    margin-bottom: 40px;
    transition: 0.4s ease;
}
.pricing .container .box a:hover {
    background-color: var(--main-color);
    color: white;
}
@media (min-width:1200px) {
    .pricing .container .boxs .box {
        flex-basis: 26%;
    }
    .pricing .container .boxs .special {
        top: -20px;
    }
}


/* Start Vids  */

.vids {
    position: relative;
    padding-bottom: 100px;
}
.vids .container .boxs{
    position: relative;
    justify-content: space-between;
    padding: 0;
    border: 2px solid #ECECEC;
    gap: 0;
}
.vids .container .boxs::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#ECECEC;
    position: absolute;
    z-index: -2;
}
.vids .container .boxs .one {
    background-color: white;
    flex-basis: 30%;
}
.vids .container .boxs .one .top {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.vids .container .boxs .one .top h2 {
    margin: 0;
    font-size: 20px;
}
.vids .container .boxs .one .sections .section {
    border-bottom: 2px solid #ECECEC;
    padding: 0 20px;
}
.vids .container .boxs .one .sections .section h4 {
    transition: 0.3s ease;
    font-weight: 600;
}
.vids .container .boxs .one .sections .section:hover h4 {
    color: var(--main-color);
}
.vids .container .boxs .two {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 68%;
}
.vids .container .boxs .two img {
    max-width: 100%;
    margin: 15px;
    margin-left: 0;
}
.vids .container .boxs .two p {
    padding: 20px 20px;
    background-color: white;
    margin-right: 15px;
}
@media (max-width:992px) {
    .vids .container .boxs .one {
        flex-basis: 100%;
    }
    .vids .container .boxs .two {
        flex-basis: 100%;
    }
    .vids .container .boxs .two img {
        margin-left: 15px;
    }
    .vids .container .boxs .two p{
        margin-left: 15px;
    }
}


/* Start Stats */

.stats {
    position: relative;
    text-align: center;
    padding-bottom: 100px;
}
.stats::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#ECECEC;
    position: absolute;
    z-index: -2;
}
.stats .container .boxs .box {
    position: relative;
    background-color: white;
    border-radius: 5px;
    width: 250px;
    padding: 20px;
    box-shadow:  0 0 10px rgba(180, 180, 180, 0.562);
}
.stats .container .boxs .box::before {
    content: "";
    position: absolute;
    height: 00%;
    width: 3px;
    left: 0;
    bottom: 0;
    background-color: var(--main-color);
    transition: 0.3s ease;
}
.stats .container .boxs .box::after {
    content: "";
    position: absolute;
    height: 00%;
    width: 3px;
    right:  0;
    top: 0;
    background-color: var(--main-color);
    transition: 0.5s ease;
}
.stats .container .boxs .box:hover::before ,
.stats .container .boxs .box:hover::after {
    height: 100%;
}
.stats .container .boxs .box i {
    font-size: 35px;
}
.stats .container .boxs .box p{
    font-weight: bold;
    font-size: 20px ;
    font-style: italic;
    color: var(--main-color);
    margin: 0;
}
.stats .container .boxs .box .num {
    color: black;
    font-size: 50px;
    font-weight: bold;
    padding: 20px 0;
    font-style: normal;
}
@media (max-width:400px) {
    .stats .container .boxs .box {
        width: 100px;
        padding: 20px 20px;
    }
}
@media (min-width:400px) and (max-width:675px) {
    .stats .container .boxs .box {
        width: 200px;
    }
}


/* Start rad */

.rad {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
}
.rad .image {
    position: relative;
    background-image: url(../imgs/discount-background1.jpg);
    max-width: 100%;
    flex-basis: 50%;
    height: 100vh;
    animation: change 10s linear infinite;
}
.rad .image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    opacity: 0.95;
}
.rad .image .one {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
}
.rad .image .one h1 {
    font-size: 45px;
}
.rad .image .one p {
    line-height: 1.6;
    font-size: 18px;
}
.rad .image .one img {
    max-width: 300px;
}
.rad .two {
    position: relative;
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 110px;
    box-sizing: border-box;
}
.rad  .two h1 {
    font-size: 45px;
}
.rad .two form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.rad .two form input{
    padding: 20px 10px;
    margin: 10px 0;
    border: none;
    outline: none;
}
.rad .two form input[type=text] ,
.rad .two form input[type=email] ,
.rad .two form input[type=tel]  {
    border-bottom: 1px solid rgb(204, 204, 204);
}
.rad .two form textarea{
    padding: 20px 10px;
    margin: 10px 0;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid rgb(204, 204, 204);
    outline: none;
} 
.rad .two form input[type=submit] {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}
@keyframes change {
    0% {
        background-image: url(../imgs/discount-background1.jpg);
    }
    50% {
        background-image: url(../imgs/discount-background2.jpg);
    }
    100% {
        background-image: url(../imgs/discount-background1.jpg);
    }
}
@media (max-width:400px) {
    .rad {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .rad p {
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
        padding: 20px 0;
    }
    .rad .two form {
        width: 80%;
    }
    .rad .two {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .rad .image .one {
        transform: translateX(0);
    }
    .rad .image .one h1 {
        font-size: 35px;
    }
    .rad  .two h1 {
        font-size: 35px;
    }
}
@media (min-width:400px) and  (max-width:992px) {
    .rad {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .rad p {
        max-width: 60%;
        margin-right: auto;
        margin-left: auto;
    }
    .rad .two form {
        width: 80%;
    }
    .rad .two {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .rad .image .one {
        transform: translateX(0);
    }
}


/* Start Footer  */

.footer {
    position: relative;
    background-color: #191919;
}
.footer .container .boxs {
    justify-content: space-evenly;
    gap: 0;
}
.footer .container .boxs .box {
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 10px;
}
.footer .container .boxs .one {
    padding: 10px;
}
.footer .container .boxs .box h1 {
    font-size: 35px;
    font-weight: 800;
    color: white;
}
.footer .container .boxs .box .ul {
    display: flex;
}
.footer .container .boxs .one .ul li {
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}
.footer .container .boxs .one .ul .twt:hover  {
    background-color: var(--main-color);
}
.footer .container .boxs .one .ul .face:hover {
    background-color:#226eac;
}
.footer .container .boxs .one .ul .yout:hover {
    background-color:#ac2222;
}
.footer .container .boxs .one .ul li:hover a {
    color: white;
}
.footer .container .boxs .box .ul .face {
    margin-left: 0;
}
.footer .container .boxs .box .ul li a {
    color: #B9B9B9;
    font-size: 20px;
}
.footer .container .boxs .box p {
    color: #B9B9B9;
    font-weight: 400;
    line-height: 1.6;
}
.footer .boxs .two {
    display: flex;
    align-items: center;
    flex-basis: 25%;
}
.footer .boxs .two ul {
    width: 100%;
}
.footer .boxs .two ul li {
    padding: 20px 5px;
    padding-left: 0;
    border-bottom: 1px solid #b9b9b92d;
}
.footer .boxs .two ul li:hover a {
    color: white;
    left: 10px;
}
.footer .boxs .two ul li a {
    color: #B9B9B9;
    position: relative;
    left: 0;
    transition: 0.3s ease;
}
.footer .boxs .two ul li i {
    color: var(--main-color);
    padding: 0 10px;
    padding-left: 0;
}
.footer .boxs .two ul .special {
    border: none;
}
.footer .boxs .three {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}
.footer .boxs .three .section {
    display: flex;
}
.footer .boxs .three .section i {
    padding: 10px 15px;
    color: var(--main-color);
    font-size: 25px;
    align-self: center;
}
.footer .boxs .four {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
    align-self: flex-start;
}
.footer .boxs .four .imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 0;
}
.footer .boxs .four .imgs img {
    width: 80px;
    height: 80px;
    margin: 3px;
    border: 3px solid white;
    box-sizing: border-box;
}
.footer .finish {
    position: relative;
    max-width: 100%;
    text-align: center;
    color: white;
    word-spacing: 3px;
    padding: 20px;
    border-top: 1px solid rgba(228, 228, 228, 0.521);
}
@media (max-width:400px) {
    .footer .container .boxs {
        justify-content: space-between;
    }
    .footer .container .boxs .box {
        flex-basis: 100%;
        text-align: center;
    }
    .footer .boxs .one ul {
        justify-content: center;
    }
    .footer .boxs .two ul li  {
        text-align: center;
    }
    .footer .boxs .three .section {
        flex-direction: column;
        text-align: center;
    }
}
@media  (min-width:400px) and (max-width:675px) {
    .footer .container .boxs {
        justify-content: space-between;
    }
    .footer .container .boxs .box {
        flex-basis: 50%;
    }
    .footer .boxs .two ul li  {
        text-align: center;
    }
    .footer .boxs .three .section {
        flex-direction: column;
        text-align: center;
    }
}
@media  (min-width:675px) and (max-width:1200px) {
    .footer .container .boxs {
        justify-content: space-between;
    }
    .footer .container .boxs .box {
        flex-basis: 50%;
    }
}
@media  (min-width:1200px) {
    .footer .container .boxs {
        justify-content: space-between;
    }
    .footer .container .boxs .box {
        flex-basis: 24%;
    }
}